/* Your Styles Here */
html {
    background-color: pink;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    min-width: 500px;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div {
    background-color: lightyellow;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
}

#headshot-photo {
    display: block;
    margin: 0 auto;
    width: 200px;
    border-radius: 400px;
    border-width: 5px;
    border-style: solid;
    border-color: pink;
}

h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 10px;
}

h2 {
    margin: 10px;
}

button {
    display: block;
    margin: 0 auto;
    border-color: black;
    border-width: 2px;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    color: palevioletred;
}

button:active {
    color: rgb(168, 23, 72);
}

a {
    text-decoration: none;
}

p {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
}